body {
    font-family:"Saira Extra Condensed", sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;  
  }
  
.container {
    width: 50%;
    margin: 100px;
    background-color: rgb(225, 226, 232);
    padding: 40px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    margin-top: 40px;
}

.titulo {
    font-family: 'Roboto', sans-serif;
    font-size: xxx-large;
    width: 50%;
    margin: 0;
    text-align: center;
    color: #0a539b;
}

.form-group {
    margin-bottom: 15px;
}

label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
    color: #003366;
}

input[type="text"],
textarea {
    width: 70%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

.botonAzul {
    margin-bottom: 10px;
    margin-right: 10px;
    position: relative;
    float: left;
    padding: 5px;
    color: #fff;
    background-color: #255FAD;
    font-family: "Saira Extra Condensed", sans-serif;
    font-weight: 400;
    font-style: normal;
    border: none;
    padding: 6px 20px;
    cursor: pointer;
}

input[type="submit"]:hover {
    background-color: #002244;
}
