.pie{
    background-color: black;
    color: white;
    font-family: "Saira Extra Condensed";
    font-style: normal;
    padding-left: 10px;
    padding-top: 30%;
    width: 1000;
    height: 30px;
}